<!-- JS -->
<script src="/js/jquery-3.4.1.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/jquery.mousewheel.min.js"></script>
<script src="/js/jquery.mCustomScrollbar.min.js"></script>
<script src="/js/wNumb.js"></script>
<script src="/js/nouislider.min.js"></script>
<script src="/js/plyr.min.js"></script>
<script src="/js/jquery.morelines.min.js"></script>
<script src="/js/photoswipe.min.js"></script>
<script src="/js/photoswipe-ui-default.min.js"></script>
<script src="/js/main.js"></script>
<script src="/js/swal.js"></script>

<%- include('../flash.ejs') %>

</body>

</html>