server/node_modules/
server/.env
media/tmp/
media/data/
server/package-lock.json
server/src/public/img/posters/*
server/src/public/img/covers/*
server/src/public/img/screenshots/*
server/el-settings.js
server/el-test.js
server/parse-csv.js
server/file.csv
server/src/views/user/movies copy.ejs
server/.eslintrc.json