border-radius(n)
	-webkit-border-radius n
	border-radius n

box-shadow(args...)
	-webkit-box-shadow args
	box-shadow args

transition(args...)
	-webkit-transition args
	-moz-transition args
	transition args

transform(args...)
	-webkit-transform args
	-moz-transform args
	transform args
/*----------------------------------------
[Master Stylesheet]

Project:	FlixGo
Version:	2.0
Primary use:	FlixGo Admin Template
----------------------------------------*/

/*----------------------------------------
[Table of contents]

1. Header
2. Sidebar
3. Main
4. Stats
5. Dashbox
6. Filter
7. Paginator
8. Form
9. Profile
10. Comments
11. Reviews
12. Sign
13. Page 404
14. Modal
15. select2 customization
16. mCustomScrollbar customization

----------------------------------------*/

$white = #fff
$black = #000
$blue1 = #2b2b31
$blue2 = #28282d
$clr1 = #ff55a5
$clr2 = #ff5860

/*==============================
	Common styles
==============================*/
html
	-webkit-text-size-adjust 100%
	-ms-text-size-adjust 100%
html
body
	height 100%
body
	font-family 'Ubuntu', sans-serif
	background-color $blue1
	font-weight normal
	-webkit-font-smoothing antialiased
button
	padding 0
	border none
	background-color transparent
	transition(.4s ease)
	cursor pointer
	&:focus
		outline none
a
	transition(.4s ease)
	&:hover
	&:active
	&:focus
		outline none
		text-decoration none
input
textarea
select
	padding 0
	margin 0
	border-radius(0)
	-webkit-appearance none
	-moz-appearance none
	appearance none
	box-shadow(none)
	&:focus
		outline none
ul
	margin 0
	padding 0
	list-style none

::-moz-selection
	background $white
	color $black
	text-shadow none
::selection
	background $white
	color $black
	text-shadow none

::-webkit-input-placeholder
	color rgba($white, .5)
	opacity 1
::-moz-placeholder
	color rgba($white, .5)
	opacity 1
:-moz-placeholder
	color rgba($white, .5)
	opacity 1
:-ms-input-placeholder
	color rgba($white, .5)
	opacity 1

.collapse:not(.show)
	display none

.collapsing
	position relative
	height 0
	overflow hidden
	transition(height 0.4s ease)

@media screen and (prefers-reduced-motion: reduce)
	.collapsing
		transition none

.tab-content
	width 100%

.tab-content > .tab-pane
	display none

.tab-content > .active
	display block

.fade
	transition opacity 0.25s linear

@media screen and (prefers-reduced-motion: reduce)
	.fade
		transition none

.fade:not(.show)
	opacity 0

/*==============================
	Header
==============================*/
.header
	display block
	position fixed
	top 0
	left 0
	right 0
	background-color $blue2
	z-index 100
	transition(.4s ease)
	box-shadow(0 5px 25px 0 rgba($black, .3))
	&__content
		display flex
		flex-direction row
		justify-content space-between
		align-items center
		height 70px
		position relative
		padding 0 15px
	&__logo
		display flex
		flex-direction row
		justify-content flex-start
		align-items center
		height 70px
		background-color $blue2
		width 100%
		img
			width 100%
			max-width 100px
			display block
		&:hover
			background-color $blue1
	&__btn
		display block
		width 24px
		height 20px
		position relative
		opacity .8
		span
			display block
			position absolute
			height 2px
			width 24px
			background $black
			opacity 1
			left 0
			transform(rotate(0deg))
			transition(.4s ease)
			top 0
			background-color $white
			border-radius(2px)
			&:nth-child(2)
				top 8px
			&:nth-child(3)
				top 16px
		&:hover
			opacity 1
		&--active
			opacity 1
			span:nth-child(1)
				top 8px
				transform(rotate(45deg))
			span:nth-child(2)
				opacity 0
			span:nth-child(3)
				top 8px
				transform(rotate(-45deg))
	@media (min-width: 1200px)
		display none

/*==============================
	Sidebar
==============================*/
.sidebar
	display flex
	flex-direction column
	justify-content flex-start
	align-items flex-start
	background-color $blue2
	position fixed
	top 0
	left 0
	bottom 0
	z-index 101
	width 280px
	transform(translateX(-100%))
	transition(.4s ease)
	&__logo
		display flex
		flex-direction row
		justify-content flex-start
		align-items center
		height 70px
		padding 0 30px
		background-color $blue2
		width 100%
		position relative
		&:before
			content ''
			position absolute
			bottom 0
			left 0
			right 0
			height 2px
			display block
			background-image -moz-linear-gradient( 90deg, rgb(255,85,165) 0%, rgb(255,88,96) 100%)
			background-image -webkit-linear-gradient( 90deg, rgb(255,85,165) 0%, rgb(255,88,96) 100%)
			background-image -ms-linear-gradient( 90deg, rgb(255,85,165) 0%, rgb(255,88,96) 100%)
			background-image linear-gradient( 90deg, rgb(255,85,165) 0%, rgb(255,88,96) 100%)
			box-shadow(0 0 20px 0 rgba(255, 88, 96, 0.5))
			pointer-events none
		img
			width 100%
			max-width 100px
			display block
		&:hover
			background-color $blue1
	&__user
		padding 20px 30px
		width 100%
		display flex
		flex-direction row
		justify-content flex-start
		align-items center
		border-bottom 1px solid rgba($white, .05)
	&__user-img
		width 40px
		height 40px
		border-radius(50%)
		overflow hidden
		display block
		margin-right 12px
		img
			width 100%
	&__user-title
		display flex
		flex-direction column
		justify-content flex-start
		align-items flex-start
		p
			color $white
			display block
			font-size 16px
			font-weight 500
			margin-bottom 0
		span
			display block
			font-family 'Open Sans', sans-serif
			color rgba($white, .5)
			font-size 10px
	&__user-btn
		display flex
		flex-direction row
		justify-content center
		align-items center
		height 40px
		width 40px
		border-radius(4px)
		background-color rgba($white, .05)
		font-size 13px
		color $white
		text-transform uppercase
		font-weight 500
		letter-spacing 1px
		opacity .85
		margin-left auto
		&:hover
			opacity 1
			color $white
		i
			color $white
			font-size 24px
	&__nav
		display flex
		flex-direction column
		justify-content flex-start
		align-items flex-start
		position relative
		padding 30px
		width 100%
	&__nav-link
		display flex
		flex-direction row
		justify-content flex-start
		align-items center
		font-size 14px
		font-weight 300
		text-transform uppercase
		color rgba($white, .75)
		letter-spacing .2px
		i
			font-size 14px
			margin-right 15px
		&:hover
			color $clr1
		&--active
			color $clr1
			cursor default
	&__nav-item
		width 100%
		display block
		margin-bottom 20px
		position relative
		&:last-child
			margin-bottom 0
		&.show
			.sidebar__nav-link
				color $clr1
	&__dropdown
		position relative
		display block
		width 100%
	&__dropdown-menu
		position absolute
		background-color $blue1
		padding 15px 20px
		display block
		width 100%
		min-width 200px
		text-align left
		z-index -1
		pointer-events none
		opacity 0
		box-shadow(0 5px 25px 0 rgba($black, .3))
		transition(.4s ease)
		margin-top 0
		top 100%
		max-height 190px
		overflow hidden
		&:before
			content ''
			position absolute
			top 0
			left 0
			right 0
			height 2px
			display block
			background-image -moz-linear-gradient( 90deg, rgb(255,85,165) 0%, rgb(255,88,96) 100%)
			background-image -webkit-linear-gradient( 90deg, rgb(255,85,165) 0%, rgb(255,88,96) 100%)
			background-image -ms-linear-gradient( 90deg, rgb(255,85,165) 0%, rgb(255,88,96) 100%)
			background-image linear-gradient( 90deg, rgb(255,85,165) 0%, rgb(255,88,96) 100%)
			box-shadow(0 0 20px 0 rgba(255, 88, 96, 0.5))
		li
			padding 0
		a
			font-size 16px
			color rgba($white, .75)
			line-height 40px
			display block
			font-weight 300
			&:hover
				color $clr1
		&.show
			z-index 1000
			pointer-events auto
			opacity 1
			margin-top 10px
	&__copyright
		margin-top auto
		padding 0 30px 20px
		color rgba($white, .5)
		font-size 12px
		a
			color rgba($white, .5)
			&:hover
				text-decoration underline
	&--active
		transform(translateX(0))
		box-shadow(0 5px 25px 0 rgba($black, .3))
	@media (min-width: 1200px)
		transform(translateX(0))
		box-shadow(0 5px 25px 0 rgba($black, .3))
		&__logo
			height 90px
			img
				max-width 127px

/*==============================
	Main
==============================*/
.main
	position relative
	margin-top 70px
	padding 40px 0 10px
	&__title
		display flex
		flex-direction row
		justify-content flex-start
		align-items center
		flex-wrap wrap
		margin-bottom 30px
		border-bottom 1px solid rgba($white, .05)
		padding-bottom 25px
		h2
			color $white
			font-weight 300
			font-size 28px
			line-height 100%
			margin-bottom 0
			b
				font-weight 700
	&__title-stat
		font-family 'Open Sans', sans-serif
		color rgba($white, .75)
		font-size 14px
		margin-left 20px
		margin-top 9px
	&__title-wrap
		display flex
		flex-direction column
		justify-content flex-start
		align-items flex-start
		margin-left auto
		width 100%
		margin-top 20px
	&__title-form
		position relative
		margin-top 20px
		input
			border none
			height 40px
			color $white
			padding 0 40px 0 15px
			letter-spacing .2px
			background-color $blue2
			width 240px
			font-family 'Open Sans', sans-serif
			font-size 14px
		button
			position absolute
			z-index 1
			top 0
			right 0
			height 40px
			width 40px
			display flex
			flex-direction row
			justify-content center
			align-items center
			font-size 22px
			color rgba($white, .5)
			&:hover
				color $clr1
	&__title-link
		display flex
		justify-content center
		align-items center
		height 40px
		width 120px
		border-radius(4px)
		background-image -moz-linear-gradient( 90deg, rgb(255,85,165) 0%, rgb(255,88,96) 100%)
		background-image -webkit-linear-gradient( 90deg, rgb(255,85,165) 0%, rgb(255,88,96) 100%)
		background-image -ms-linear-gradient( 90deg, rgb(255,85,165) 0%, rgb(255,88,96) 100%)
		background-image linear-gradient( 90deg, rgb(255,85,165) 0%, rgb(255,88,96) 100%)
		box-shadow(0 0 20px 0 rgba($clr2, .5))
		opacity .85
		margin-left auto
		font-size 13px
		color $white
		text-transform uppercase
		font-weight 500
		letter-spacing 1px
		&:hover
			color $white
			opacity 1
	&__table-wrap
		position relative
		width 100%
		overflow hidden
	&__table
		width 100%
		min-width 990px
		thead
			border-bottom 20px solid $blue1
			th
				font-size 12px
				color rgba($white, .5)
				font-weight 300
				letter-spacing .2px
				padding 0 15px 0 15px
				line-height 100%
				margin-bottom 0
				border none
		tbody
			tr
				background-color $blue2
				border-bottom 10px solid $blue1
			td
				padding 15px
		&--dash
			width 100%
			min-width 500px
			thead
				border-bottom 1px solid rgba($white , .05)
				th
					padding 0 10px 15px 0
			tbody
				tr
					border-bottom none
				td
					padding 15px 10px 5px 0
					&:last-child
						padding-right 0
	&__table-text
		display flex
		flex-direction row
		justify-content flex-start
		align-items center
		font-size 14px
		color $white
		font-family 'Open Sans', sans-serif
		font-weight 400
		line-height 21px
		letter-spacing .2px
		i
			font-size 16px
			text-shadow 0 0 6px rgba(255, 88, 96, 0.5)
			margin-right 5px
			&:before
				background-image -webkit-linear-gradient(0deg, $clr1 0%, $clr2 100%)
				-webkit-background-clip text
				-webkit-text-fill-color transparent
				color $clr2
		&--rate
			font-family 'Ubuntu', sans-serif
			font-weight 500
			font-size 16px
			i
				font-weight normal
		&--red
			color $clr2
		&--green
			color #5bceae
		&--grey
			color rgba($white, .5)
	&__table-btns
		display flex
		flex-direction row
		justify-content flex-start
		align-items center
	&__table-btn
		display flex
		flex-direction row
		justify-content center
		align-items center
		width 30px
		height 30px
		font-size 16px
		color $white
		opacity .85
		border-radius(4px)
		background-color rgba($white, .05)
		margin-right 10px
		&:last-child
			margin-right 0
		&:hover
			opacity 1
		&--delete
			background-color rgba(#ec547a, .08)
			color #ec547a
			&:hover
				color #ec547a
		&--edit
			background-color rgba(#3796f6, .08)
			color #3796f6
			&:hover
				color #3796f6
		&--banned
			background-color rgba(#5bceae, .08)
			color #5bceae
			&:hover
				color #5bceae
		&--view
			background-color rgba($clr1, .08)
			color rgba($clr1, .8)
			&:hover
				color rgba($clr1, .8)
	&__user
		display flex
		flex-direction row
		justify-content flex-start
		align-items center
	&__meta
		display flex
		flex-direction column
		justify-content flex-start
		align-items flex-start
		h3
			color $white
			display block
			font-size 16px
			font-weight 500
			margin-bottom 2px
		span
			font-family 'Open Sans', sans-serif
			color rgba($white, .5)
			font-size 14px
	&__avatar
		display block
		position relative
		width 50px
		overflow hidden
		border-radius(50%)
		margin-right 15px
		img
			width 100%
	@media (min-width: 576px)
		&__title
			h2
				font-size 30px
		&__title-wrap
			flex-direction row
			justify-content space-between
			align-items center
		&__title-form
			margin-top 0
	@media (min-width: 768px)
		padding 40px 0 30px
		&__title-stat
			margin-top 10px
		&__title-wrap
			width auto
			margin-top 0
		&__title-link
			width 140px
	@media (min-width: 1200px)
		padding 0 15px 30px 295px
		margin-top 0
		&__title
			padding-bottom 0
			height 90px

/*==============================
	Stats
==============================*/
.stats
	display flex
	flex-direction column
	justify-content center
	align-items flex-start
	background-color $blue2
	padding 20px
	height 110px
	width 100%
	margin-bottom 30px
	position relative
	i
		font-size 46px
		position absolute
		bottom 5px
		right 20px
		&:before
			background-image -webkit-linear-gradient(0deg, $clr1 0%, $clr2 100%)
			-webkit-background-clip text
			-webkit-text-fill-color transparent
			color $clr2
	span
		font-size 14px
		color rgba($white, .7)
		font-family 'Open Sans', sans-serif
		font-weight 400
		display block
		margin-bottom 10px
	p
		margin 0
		font-size 36px
		font-weight 400
		color $white
		line-height 100%
	&:before
		content ''
		position absolute
		top 0
		left 0
		right 0
		height 2px
		display block
		background-image -moz-linear-gradient( 90deg, rgb(255,85,165) 0%, rgb(255,88,96) 100%)
		background-image -webkit-linear-gradient( 90deg, rgb(255,85,165) 0%, rgb(255,88,96) 100%)
		background-image -ms-linear-gradient( 90deg, rgb(255,85,165) 0%, rgb(255,88,96) 100%)
		background-image linear-gradient( 90deg, rgb(255,85,165) 0%, rgb(255,88,96) 100%)
		box-shadow(0 0 20px 0 rgba(255, 88, 96, 0.5))

/*==============================
	Dashbox
==============================*/
.dashbox
	background-color $blue2
	margin-bottom 30px
	&__title
		display flex
		flex-direction row
		justify-content space-between
		align-items center
		padding 20px
		border-bottom 1px solid rgba($white, .05)
		h3
			display flex
			flex-direction row
			justify-content flex-start
			align-items center
			color $white
			font-weight 400
			font-size 18px
			line-height 100%
			margin-bottom 0
			i
				font-size 18px
				margin-right 10px
				&:before
					background-image -webkit-linear-gradient(0deg, $clr1 0%, $clr2 100%)
					-webkit-background-clip text
					-webkit-text-fill-color transparent
					color $clr2
	&__wrap
		display flex
		flex-direction row
		justify-content flex-start
		align-items center
	&__more
		display flex
		flex-direction row
		justify-content center
		align-items center
		width 60px
		height 24px
		background-color rgba($white, .05)
		font-size 12px
		margin-left 15px
		color rgba($white, .7)
		letter-spacing .2px
		font-family 'Open Sans', sans-serif
		border-radius(4px)
		&:hover
			color $clr1
	&__refresh
		display flex
		flex-direction row
		justify-content center
		align-items center
		width 24px
		height 24px
		color rgba($white, .7)
		font-size 16px
		&:hover
			color $clr1
	&__table-wrap
		position relative
		display block
		width 100%
		padding 20px 20px 15px

/*==============================
	Filter
==============================*/
.filter
	position relative
	display flex
	flex-direction column
	justify-content flex-start
	align-items flex-start
	&__item-label
		font-size 12px
		display block
		color rgba($white, .5)
		font-weight 300
		letter-spacing .2px
	&__item-btn
		display inline-flex
		flex-direction row
		justify-content flex-start
		align-items center
		cursor pointer
		height 22px
		transition(.4s ease)
		input
			display block
			position relative
			width auto
			background-color transparent
			border none
			font-size 16px
			color $white
			cursor pointer
			height 22px
			margin-right 12px
			font-weight 500
		span
			position relative
			width 16px
			height 16px
			display block
			margin-top 3px
			&:before
			&:after
				content ''
				position absolute
				display block
				width 16px
				height 2px
				background-color $white
				left 0
				border-radius(4px)
				top 50%
				transition(.4s ease)
				margin-top -5px
				opacity .75
			&:after
				margin-top 2px
				width 10px
		&[aria-expanded="true"]
			span
				&:before
				&:after
					opacity 1
				&:before
					transform(rotate(45deg))
					margin-top -1px
				&:after
					margin-top -1px
					width 16px
					transform(rotate(-45deg))
		&:hover
			span
				&:before
				&:after
					opacity 1
	&__item-menu
		top 100%
		left 0
		margin-top 0
		min-width 200px
		padding 15px 20px
		box-shadow(0 5px 25px 0 rgba($black, .3))
		background-color $blue1
		display block
		transition(.4s ease)
		position absolute
		z-index 100
		pointer-events none
		opacity 0
		max-height 190px
		&:before
			content ''
			position absolute
			top 0
			left 0
			right 0
			height 2px
			display block
			background-image -moz-linear-gradient( 90deg, rgb(255,85,165) 0%, rgb(255,88,96) 100%)
			background-image -webkit-linear-gradient( 90deg, rgb(255,85,165) 0%, rgb(255,88,96) 100%)
			background-image -ms-linear-gradient( 90deg, rgb(255,85,165) 0%, rgb(255,88,96) 100%)
			background-image linear-gradient( 90deg, rgb(255,85,165) 0%, rgb(255,88,96) 100%)
			box-shadow(0 0 20px 0 rgba(255, 88, 96, 0.5))
		li
			display block
			line-height 40px
			font-size 14px
			color rgba($white, .75)
			position relative
			text-transform uppercase
			font-weight 300
			cursor pointer
			transition(.4s ease)
			&:hover
				color $clr1
		&.show
			pointer-events auto
			opacity 1
			margin-top 10px
	@media (min-width: 768px)
		margin-right 50px
	@media (min-width: 1200px)
		margin-right 60px

/*==============================
	Paginator
==============================*/
.paginator-wrap
	display flex
	flex-direction row
	justify-content center
	align-items center
	width 100%
	margin 40px 0 30px
	span
		display none
		flex-direction row
		justify-content center
		align-items center
		background-color $blue2
		height 40px
		padding 0 15px
		font-size 12px
		color rgba($white, .5)
		font-family 'Open Sans', sans-serif
		letter-spacing .2px
	@media (min-width: 576px)
		justify-content space-between
		span
			display flex	

.paginator
	display flex
	flex-direction row
	justify-content center
	align-items center
	background-color $blue2
	height 40px
	width 240px
	&__item
		margin 0
		a
			font-size 14px
			height 40px
			width 40px
			display block
			line-height 40px
			color rgba($white, .5)
			text-align center
			border-radius(4px)
		&:hover
			a
				color $white
		&--prev
		&--next
			display block
			position relative
			height 40px
			transition(.4s ease)
			a
				font-size 16px
		&--active
			a
				color $white
				cursor default
				font-weight 500
				background-image -moz-linear-gradient( 90deg, rgb(255,85,165) 0%, rgb(255,88,96) 100%)
				background-image -webkit-linear-gradient( 90deg, rgb(255,85,165) 0%, rgb(255,88,96) 100%)
				background-image -ms-linear-gradient( 90deg, rgb(255,85,165) 0%, rgb(255,88,96) 100%)
				background-image linear-gradient( 90deg, rgb(255,85,165) 0%, rgb(255,88,96) 100%)
				box-shadow(0 0 15px 0 rgba($clr2, .5))
				&:hover
					color $white

/*==============================
	Form
==============================*/
.form
	background-color $blue2
	padding 20px
	margin-bottom 30px
	.row
		margin-right -10px
		margin-left -10px
	[class*="col-"]
		padding-left 10px
		padding-right 10px
	&__title
		color $white
		display block
		font-size 16px
		font-weight 500
		margin-bottom 10px
		letter-spacing .2px
	&__input
		border none
		height 50px
		color $white
		padding 0 20px
		letter-spacing .2px
		background-color $blue1
		margin-bottom 20px
		width 100%
		font-family 'Open Sans', sans-serif
		font-size 15px
	&__textarea
		display block
		border none
		height 120px
		position relative
		color $white
		font-size 15px
		width 100%
		color $white
		padding 15px 20px
		letter-spacing .2px
		resize none
		background-color $blue1
		font-family 'Open Sans', sans-serif
		margin-bottom 20px
	&__btn
		display flex
		justify-content center
		align-items center
		height 50px
		width 160px
		border-radius(4px)
		background-image -moz-linear-gradient( 90deg, rgb(255,85,165) 0%, rgb(255,88,96) 100%)
		background-image -webkit-linear-gradient( 90deg, rgb(255,85,165) 0%, rgb(255,88,96) 100%)
		background-image -ms-linear-gradient( 90deg, rgb(255,85,165) 0%, rgb(255,88,96) 100%)
		background-image linear-gradient( 90deg, rgb(255,85,165) 0%, rgb(255,88,96) 100%)
		box-shadow(0 0 20px 0 rgba($clr2, .5))
		opacity .85
		font-size 13px
		color $white
		text-transform uppercase
		font-weight 500
		letter-spacing 1px
		margin-top 10px
		&:hover
			opacity 1
			color $white
		&--add
			margin-top 0
			margin-bottom 20px
			width 100%
			background rgba($white, .05)
			box-shadow(none)
			border-radius(0)
	&__radio
		position relative
		display flex
		flex-direction row
		justify-content flex-start
		align-items center
		margin-bottom 20px
		li
			position relative
			overflow hidden
			margin-right 20px
			&:last-child
				margin-right 0
		span
			font-family 'Open Sans', sans-serif
			font-size 15px
			letter-spacing .2px
			color rgba($white, .5)
		input
			&:not(:checked)
			&:checked
				position absolute
				left -9999px
		label
			display block
			margin 0
			position relative
			font-weight 400
			cursor pointer
			font-size 14px
			color rgba($white, .5)
			line-height 24px
			letter-spacing .2px
			padding-left 25px
			font-family 'Open Sans', sans-serif
			transition(.4s ease)
			&:before
				content ''
				display block
				position absolute
				width 16px
				height 16px
				border 4px solid rgba($clr1, .5)
				background-color transparent
				border-radius(50%)
				left 0
				top 4px
				transition(.4s ease)
		input:checked + label
			color $white
			&:before
				border-color $clr1
	&__video
		position relative
		width 100%
		height 50px
		margin-bottom 20px
		overflow hidden
		input
			position absolute
			left -9999px
			opacity 0
			z-index 1
		label
			display flex
			flex-direction row
			justify-content flex-start
			align-items center
			position relative
			z-index 2
			height 50px
			color rgba($white, .5)
			padding 0 50px 0 20px
			letter-spacing .2px
			background-color $blue1
			margin 0
			width 100%
			font-family 'Open Sans', sans-serif
			font-size 15px
			cursor pointer
			transition(.4s ease)
			&:before
				content ''
				pointer-events none
				font-family "Ionicons"
				position absolute
				right 20px
				top 0
				line-height 50px
				font-size 18px
			&:hover
				color $white
	&__gallery
		position relative
		width 100%
		height 50px
		margin-bottom 20px
		overflow hidden
		input
			position absolute
			left -9999px
			opacity 0
			z-index 1
		label
			display flex
			flex-direction row
			justify-content flex-start
			align-items center
			position relative
			z-index 2
			height 50px
			color rgba($white, .5)
			padding 0 50px 0 20px
			letter-spacing .2px
			background-color $blue1
			margin 0
			width 100%
			font-family 'Open Sans', sans-serif
			font-size 15px
			cursor pointer
			transition(.4s ease)
			&:before
				content ''
				pointer-events none
				font-family "Ionicons"
				position absolute
				right 20px
				top 0
				line-height 50px
				font-size 18px
			&:hover
				color $white
	&__img
		position relative
		width 100%
		height 400px
		overflow hidden
		background-color $blue1
		margin-bottom 20px
		input
			position absolute
			left -9999px
			opacity 0
		label
			position absolute
			display flex
			flex-direction row
			justify-content center
			align-items center
			top 0
			right 0
			bottom 0
			left 0
			z-index 2
			cursor pointer
			margin 0
			font-weight normal
			font-family 'Open Sans', sans-serif
			letter-spacing .2px
			font-size 15px
			color rgba($white, .5)
			transition(.4s ease)
			&:hover
				color $white
		img
			position absolute
			z-index 1
			top -100px
			right -100px
			bottom -100px
			left -100px
			margin auto
			min-width 100%
	&__season
		padding 20px 20px 0 20px
		margin-bottom 20px
		border 1px solid rgba($white, .05)
	&__season-title
		margin-bottom 20px
		border-bottom 1px solid rgba($white, .05)
	&__delete
		position absolute
		height 24px
		width auto
		display flex
		flex-direction row
		justify-content center
		align-items center
		top 0
		right 10px
		font-size 24px
		color rgba($white, .75)
		&:hover
			color $white
	@media (min-width: 768px)
		padding 30px 20px
		&__cover
			-ms-flex 0 0 290px
			flex 0 0 290px
			max-width 290px
		&__content
			-ms-flex 0 0 calc(100% - 290px)
			flex 0 0 calc(100% - 290px)
			max-width 100%
	@media (min-width: 992px)
		padding 30px

/*==============================
	Profile
==============================*/
.profile
	&__form
		background-color $blue2
		padding 20px 15px
		margin-bottom 30px
	&__title
		color $white
		display block
		font-size 16px
		font-weight 500
		margin-bottom 20px
	&__group
		position relative
		margin-bottom 20px
	&__label
		letter-spacing .2px
		font-family 'Open Sans', sans-serif
		color rgba($white, .75)
		font-size 15px
		margin-bottom 10px
	&__input
		background-color $blue1
		border none
		height 50px
		position relative
		color $white
		font-size 15px
		width 100%
		color $white
		border-radius(0)
		padding 0 20px
		letter-spacing .2px
		font-family 'Open Sans', sans-serif
	&__btn
		display flex
		justify-content center
		align-items center
		height 50px
		width 100%
		border-radius(4px)
		background-image -moz-linear-gradient( 90deg, rgb(255,85,165) 0%, rgb(255,88,96) 100%)
		background-image -webkit-linear-gradient( 90deg, rgb(255,85,165) 0%, rgb(255,88,96) 100%)
		background-image -ms-linear-gradient( 90deg, rgb(255,85,165) 0%, rgb(255,88,96) 100%)
		background-image linear-gradient( 90deg, rgb(255,85,165) 0%, rgb(255,88,96) 100%)
		box-shadow(0 0 20px 0 rgba($clr2, .5))
		opacity .85
		font-size 13px
		color $white
		text-transform uppercase
		font-weight 500
		letter-spacing 1px
		margin 10px auto 0
		&:hover
			opacity 1
			color $white
	&__content
		display flex
		flex-direction column
		justify-content flex-start
		align-items flex-start
		padding 20px
		background-color $blue2
		margin-bottom 30px
		position relative
	&__user
		display flex
		flex-direction row
		justify-content flex-start
		align-items center
		margin-bottom 10px
	&__meta
		display flex
		flex-direction column
		justify-content flex-start
		align-items flex-start
		h3
			color $white
			display block
			font-size 16px
			font-weight 500
			margin-bottom 2px
		span
			font-family 'Open Sans', sans-serif
			color rgba($white, .5)
			font-size 14px
		&--green
			h3
				span
					color #5bceae
		&--red
			h3
				span
					color #ff5860
	&__avatar
		display block
		position relative
		width 50px
		cursor pointer
		overflow hidden
		border-radius(50%)
		margin-right 15px
		img
			width 100%
	&__tabs
		display none
	&__mobile-tabs
		position relative
		margin-bottom -20px
	&__mobile-tabs-btn
		display flex
		flex-direction row
		justify-content flex-start
		align-items center
		cursor pointer
		height 50px
		opacity .75
		transition(.4s ease)
		input
			display block
			position relative
			width auto
			background-color transparent
			border none
			font-size 14px
			color $white
			text-transform uppercase
			cursor pointer
			height 50px
			margin-right 12px
			letter-spacing .2px
			font-weight 300
		span
			position relative
			width 16px
			height 16px
			display block
			&:before
			&:after
				content ''
				position absolute
				display block
				width 16px
				height 2px
				background-color $white
				left 0
				border-radius(4px)
				top 50%
				transition(.4s ease)
				margin-top -5px
			&:after
				margin-top 2px
				width 10px
		&[aria-expanded="true"]
			opacity 1
			span
				&:before
					transform(rotate(45deg))
					margin-top -1px
				&:after
					margin-top -1px
					width 16px
					transform(rotate(-45deg))
		&:hover
			opacity 1
	&__mobile-tabs-menu
		top 100%
		left 0
		margin-top -10px
		min-width 200px
		padding 15px 20px
		box-shadow(0 5px 25px 0 rgba($black, .3))
		background-color $blue1
		display block
		transition(.4s ease)
		position absolute
		z-index 100
		pointer-events none
		opacity 0
		&:before
			content ''
			position absolute
			top 0
			left 0
			right 0
			height 2px
			display block
			background-image -moz-linear-gradient( 90deg, rgb(255,85,165) 0%, rgb(255,88,96) 100%)
			background-image -webkit-linear-gradient( 90deg, rgb(255,85,165) 0%, rgb(255,88,96) 100%)
			background-image -ms-linear-gradient( 90deg, rgb(255,85,165) 0%, rgb(255,88,96) 100%)
			background-image linear-gradient( 90deg, rgb(255,85,165) 0%, rgb(255,88,96) 100%)
			box-shadow(0 0 20px 0 rgba(255, 88, 96, 0.5))
		a
			display block
			line-height 40px
			font-size 14px
			color rgba($white, .75)
			position relative
			text-transform uppercase
			font-weight 300
			&:hover
				color $clr1
			&.active
				display none
		&.show
			pointer-events auto
			opacity 1
			margin-top 0
	&__actions
		display flex
		flex-direction row
		justify-content flex-start
		align-items center
		position absolute
		top 30px
		right 20px
	&__action
		display flex
		flex-direction row
		justify-content center
		align-items center
		width 30px
		height 30px
		font-size 16px
		color $white
		opacity .85
		border-radius(4px)
		background-color rgba($white, .05)
		margin-right 10px
		&:last-child
			margin-right 0
		&:hover
			opacity 1
		&--delete
			background-color rgba(#ec547a, .08)
			color #ec547a
			&:hover
				color #ec547a
		&--banned
			background-color rgba(#5bceae, .08)
			color #5bceae
			&:hover
				color #5bceae
	@media (min-width: 360px)
		&__form
			padding 20px
	@media (min-width: 768px)
		&__form
			padding 30px 20px
		&__title
			margin-bottom 25px
		&__btn
			width 140px
			margin 10px 0 0
		&__content
			flex-direction row
			justify-content flex-start
			align-items center
			padding 0 20px
			height 90px
		&__user
			width 210px
			margin-bottom 0
			margin-right 35px
		&__tabs
			display flex
			flex-direction row
			justify-content flex-start
			align-items center
			overflow hidden
			li
				margin-right 30px
				&:last-child
					margin-right 0
			a
				display block
				line-height 90px
				color $white
				position relative
				text-transform uppercase
				font-size 14px
				font-weight 300
				letter-spacing .2px
				color rgba($white, .5)
				&:hover
					color $white
				&:before
					content ''
					position absolute
					bottom 0
					left 0
					right 0
					height 2px
					display block
					background-image -moz-linear-gradient( 90deg, rgb(255,85,165) 0%, rgb(255,88,96) 100%)
					background-image -webkit-linear-gradient( 90deg, rgb(255,85,165) 0%, rgb(255,88,96) 100%)
					background-image -ms-linear-gradient( 90deg, rgb(255,85,165) 0%, rgb(255,88,96) 100%)
					background-image linear-gradient( 90deg, rgb(255,85,165) 0%, rgb(255,88,96) 100%)
					box-shadow(none)
					transition(.4s ease)
					transform(translateY(2px))
				&.active
					color $white
					&:before
						transform(translateY(0))
						box-shadow(0 0 20px 0 rgba(255, 88, 96, 0.5))
		&__mobile-tabs
			display none
		&__actions
			position relative
			top auto
			right auto
			margin-left auto
		&__action
			width 40px
			height 40px
			font-size 18px
			margin-right 15px
			&:last-child
				margin-right 0
	@media (min-width: 992px)
		&__form
			padding 30px
	@media (min-width: 1200px)
		&__tabs
			li
				margin-right 45px
				&:last-child
					margin-right 0
		&__user
			width 240px
			margin-right 50px

/*==============================
	Comments
==============================*/
.comments
	&__autor
		display block
		position relative
		padding-left 55px
		margin-left 20px
	&__avatar
		position absolute
		top 0
		left 0
		width 40px
		border-radius(50%)
	&__name
		display block
		font-size 16px
		color $white
		line-height 20px
		font-weight 400
	&__time
		display block
		font-size 13px
		color rgba($white, .5)
		line-height 20px
		font-weight 300
		font-family 'Open Sans', sans-serif
	&__text
		display block
		margin 0
		color rgba($white, .7)
		font-size 15px
		line-height 25px
		background-color $blue2
		padding 20px
		position relative
		font-family 'Open Sans', sans-serif
		letter-spacing .2px
		span
			display block
			background-color $blue1
			margin-bottom 20px
			padding 20px
			position relative
			min-height 80px
			&:before
				content '\f1f5'
				position absolute
				display block
				font-family "Ionicons"
				background-image -webkit-linear-gradient(0deg, rgba($clr1, .12) 0%, rgba($clr2, .12) 100%)
				-webkit-background-clip text
				-webkit-text-fill-color transparent
				color $clr2
				font-size 64px
				top 10px
				left 15px
				line-height 100%
	&__actions
		display flex
		flex-direction row
		justify-content flex-start
		align-items center
		background-color $blue2
		height 52px
		padding 0 20px
		border-top 1px solid rgba($white, .05)
		position relative
		span
			display flex
			flex-direction row
			justify-content flex-start
			align-items center
			font-size 12px
			color rgba($white, .5)
			margin-right 20px
			height 22px
			text-transform uppercase
			font-weight 300
			i
				margin-right 5px
			&:last-child
				margin-right 0
	&__rate
		display flex
		flex-direction row
		justify-content flex-start
		align-items center
		position relative
		span
			display flex
			flex-direction row
			justify-content center
			align-items center
			color rgba($white, .5)
			font-size 13px
			margin-right 25px
			position relative
			height 30px
			i
				font-size 18px
				opacity .5
				transition(.4s ease)
			&:last-child
				margin-right 0
				i
					margin-left 6px
					color #c22b3c
			&:first-child
				i
					margin-right 6px
					color #0cb457
				&:before
					content ''
					position absolute
					display block
					left 100%
					margin-left 12px
					width 1px
					height 15px
					background-color rgba($white, .05)
					top 50%
					transform(translateY(-50%))

/*==============================
	Reviews
==============================*/
.reviews
	&__autor
		display block
		position relative
		padding-left 55px
		padding-right 60px
		margin 0 20px
	&__avatar
		position absolute
		top 0
		left 0
		width 40px
		border-radius(50%)
	&__name
		display block
		font-size 16px
		color $white
		line-height 20px
		font-weight 400
		margin-bottom 5px
	&__time
		display block
		font-size 13px
		color rgba($white, .5)
		font-weight 300
		line-height 20px
	&__text
		display block
		margin 0
		color rgba($white, .7)
		font-size 15px
		line-height 25px
		background-color $blue2
		padding 20px
		font-family 'Open Sans', sans-serif
		letter-spacing .2px
	&__rating
		font-size 16px
		font-weight 500
		color $white
		position absolute
		display inline-flex
		flex-direction row
		justify-content flex-start
		align-items center
		right 0
		top 8px
		i
			text-shadow 0 0 6px rgba(255, 88, 96, 0.5)
			margin-right 5px
			&:before
				background-image -webkit-linear-gradient(0deg, $clr1 0%, $clr2 100%)
				-webkit-background-clip text
				-webkit-text-fill-color transparent
				color $clr2
	@media (min-width: 576px)
		&__name
			margin-bottom 0

/*==============================
	Sign
==============================*/
.sign
	display block
	position relative
	&__content
		display flex
		flex-direction row
		justify-content center
		align-items center
		width 100%
		min-height 100vh
		padding 40px 0
	&__form
		background-color $blue2
		box-shadow(0 5px 25px 0 rgba($black, .3))
		display flex
		flex-direction column
		justify-content center
		align-items center
		padding 40px 20px
		position relative
		&:before
			content ''
			position absolute
			top 0
			left 0
			right 0
			height 2px
			display block
			background-image -moz-linear-gradient( 90deg, rgb(255,85,165) 0%, rgb(255,88,96) 100%)
			background-image -webkit-linear-gradient( 90deg, rgb(255,85,165) 0%, rgb(255,88,96) 100%)
			background-image -ms-linear-gradient( 90deg, rgb(255,85,165) 0%, rgb(255,88,96) 100%)
			background-image linear-gradient( 90deg, rgb(255,85,165) 0%, rgb(255,88,96) 100%)
			box-shadow(0 0 20px 0 rgba(255, 88, 96, 0.5))
	&__logo
		margin-bottom 40px
		a
			max-width 100%
			width auto
		img
			max-width 172px
	&__input
		background-color $blue1
		border none
		height 50px
		position relative
		color $white
		font-size 15px
		width 250px
		color $white
		border-radius(0)
		padding 0 20px
		letter-spacing .2px
		font-family 'Open Sans', sans-serif
	&__group
		position relative
		margin-bottom 20px
		&--checkbox
			width 100%
			text-align left
			input
				&:not(:checked)
				&:checked
					position absolute
					left -9999px
				&:not(:checked) + label
				&:checked + label
					font-size 14px
					color rgba($white, .5)
					font-family 'Open Sans', sans-serif
					position relative
					cursor pointer
					padding-left 34px
					line-height 22px
					margin 0
					a
						background-image -webkit-linear-gradient(0deg, $clr1 0%, $clr2 100%)
						-webkit-background-clip text
						-webkit-text-fill-color transparent
						color $clr2
						opacity .75
						&:hover
							opacity 1
				&:not(:checked) + label:before
				&:checked + label:before
					content ''
					position absolute
					left 0
					top 0
					width 20px
					height 20px
					background-color $blue1
				&:not(:checked) + label:after
				&:checked + label:after
					font-family 'Ionicons'
					content '\f3ff'
					position absolute
					left 0
					top 0
					width 20px
					height 20px
					font-size 20px
					line-height 20px
					text-align center
					transition(.4s)
					color $clr1
				&:not(:checked) + label:after
					opacity 0
					transform(scale(0))
				&:checked + label:after
					opacity 1
					transform(scale(1))
			label
				&::-moz-selection
					background transparent
					color rgba($white, .5)
				&::selection
					background transparent
					color rgba($white, .5)
	&__btn
		display flex
		justify-content center
		align-items center
		height 50px
		width 100%
		border-radius(4px)
		background-image -moz-linear-gradient( 90deg, rgb(255,85,165) 0%, rgb(255,88,96) 100%)
		background-image -webkit-linear-gradient( 90deg, rgb(255,85,165) 0%, rgb(255,88,96) 100%)
		background-image -ms-linear-gradient( 90deg, rgb(255,85,165) 0%, rgb(255,88,96) 100%)
		background-image linear-gradient( 90deg, rgb(255,85,165) 0%, rgb(255,88,96) 100%)
		box-shadow(0 0 20px 0 rgba($clr2, .5))
		opacity .85
		font-size 13px
		color $white
		text-transform uppercase
		font-weight 500
		letter-spacing 1px
		margin 20px auto 0
		&:hover
			opacity 1
			color $white
	&__text
		margin-top 20px
		font-size 14px
		color rgba($white, .5)
		font-family 'Open Sans', sans-serif
		a
			position relative
			background-image -webkit-linear-gradient(0deg, $clr1 0%, $clr2 100%)
			-webkit-background-clip text
			-webkit-text-fill-color transparent
			color $clr2
			opacity .8
			&:hover
				opacity 1
	@media (min-width: 360px)
		&__input
			width 280px
	@media (min-width: 768px)
		&__form
			padding 50px 60px
		&__logo
			margin-bottom 50px

/*==============================
	Page 404
==============================*/
.page-404
	display block
	position relative
	&__wrap
		display flex
		flex-direction row
		justify-content center
		align-items center
		width 100%
		min-height 100vh
		padding 40px 0
	&__content
		background-color $blue1
		box-shadow(0 5px 25px 0 rgba($black, .3))
		display flex
		flex-direction column
		justify-content center
		align-items center
		padding 40px 0
		position relative
		width 100%
		max-width 400px
		&:before
			content ''
			position absolute
			top 0
			left 0
			right 0
			height 2px
			display block
			background-image -moz-linear-gradient( 90deg, rgb(255,85,165) 0%, rgb(255,88,96) 100%)
			background-image -webkit-linear-gradient( 90deg, rgb(255,85,165) 0%, rgb(255,88,96) 100%)
			background-image -ms-linear-gradient( 90deg, rgb(255,85,165) 0%, rgb(255,88,96) 100%)
			background-image linear-gradient( 90deg, rgb(255,85,165) 0%, rgb(255,88,96) 100%)
			box-shadow(0 0 20px 0 rgba(255, 88, 96, 0.5))
	&__title
		position relative
		background-image -webkit-linear-gradient(0deg, $clr1 0%, $clr2 100%)
		-webkit-background-clip text
		-webkit-text-fill-color transparent
		color $clr2
		line-height 100%
		font-size 80px
		margin-bottom 15px
		text-shadow 0 12px 64px rgba($clr2, .35)
	&__text
		text-align center
		display block
		width 100%
		padding 0 20px
		color rgba($white, .7)
		font-size 15px
		line-height 25px
		font-family 'Open Sans', sans-serif
		margin-bottom 20px
	&__btn
		display flex
		justify-content center
		align-items center
		height 50px
		width 160px
		border-radius(4px)
		background-image -moz-linear-gradient( 90deg, rgb(255,85,165) 0%, rgb(255,88,96) 100%)
		background-image -webkit-linear-gradient( 90deg, rgb(255,85,165) 0%, rgb(255,88,96) 100%)
		background-image -ms-linear-gradient( 90deg, rgb(255,85,165) 0%, rgb(255,88,96) 100%)
		background-image linear-gradient( 90deg, rgb(255,85,165) 0%, rgb(255,88,96) 100%)
		box-shadow(0 0 20px 0 rgba($clr2, .5))
		opacity .85
		font-size 13px
		color $white
		text-transform uppercase
		font-weight 500
		letter-spacing 1px
		margin 20px auto 0
		&:hover
			opacity 1
			color $white
	@media (min-width: 768px)
		&__content
			padding 50px 0
		&__title
			font-size 100px

/*==============================
	Modal
==============================*/
.modal
	position relative
	display block
	background-color $blue2
	margin 40px auto
	width 100%
	max-width 420px
	box-shadow(0 0 20px 0 rgba($black, .3))
	padding 40px 30px
	&:before
		content ''
		position absolute
		top 0
		left 0
		right 0
		height 2px
		display block
		background-image -moz-linear-gradient( 90deg, rgb(255,85,165) 0%, rgb(255,88,96) 100%)
		background-image -webkit-linear-gradient( 90deg, rgb(255,85,165) 0%, rgb(255,88,96) 100%)
		background-image -ms-linear-gradient( 90deg, rgb(255,85,165) 0%, rgb(255,88,96) 100%)
		background-image linear-gradient( 90deg, rgb(255,85,165) 0%, rgb(255,88,96) 100%)
		box-shadow(0 0 20px 0 rgba(255, 88, 96, 0.5))
	.mfp-close
		display none
	&__title
		color $white
		font-weight 300
		font-size 30px
		line-height 100%
		margin-bottom 15px
		text-align center
		display block
	&__text
		font-size 14px
		line-height 24px
		letter-spacing .2px
		color rgba($white, .7)
		font-family 'Open Sans', sans-serif
		font-weight 400
		display block
		text-align center
		margin-bottom 0
	&__btns
		display flex
		flex-direction row
		justify-content space-between
		align-items center
		margin-top 30px
	&__btn
		display flex
		justify-content center
		align-items center
		height 40px
		width calc(50% - 15px)
		border-radius(4px)
		opacity .85
		font-size 13px
		color $white
		text-transform uppercase
		font-weight 500
		letter-spacing 1px
		&--apply
			background-image -moz-linear-gradient( 90deg, rgb(255,85,165) 0%, rgb(255,88,96) 100%)
			background-image -webkit-linear-gradient( 90deg, rgb(255,85,165) 0%, rgb(255,88,96) 100%)
			background-image -ms-linear-gradient( 90deg, rgb(255,85,165) 0%, rgb(255,88,96) 100%)
			background-image linear-gradient( 90deg, rgb(255,85,165) 0%, rgb(255,88,96) 100%)
			box-shadow(0 0 20px 0 rgba($clr2, .5))
		&--dismiss
			background-color rgba($white, .05)
			box-shadow(0 0 20px 0 rgba($black, .15))
		&:hover
			opacity 1
			color $white
	&--view
		padding 20px 0 0 0
		max-width 710px

.mfp-bg
	background rgba($blue1, .8)

.my-mfp-zoom-in .zoom-anim-dialog
	opacity 0
	transition(all 0.3s ease-in-out)
	transform(scale(0.8))

.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog
	opacity 1
	transform(scale(1))

.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog
	transform(scale(0.8))
	opacity 0

.my-mfp-zoom-in.mfp-bg
	opacity 0
	transition(opacity 0.3s ease-out)

.my-mfp-zoom-in.mfp-ready.mfp-bg
	opacity 1

.my-mfp-zoom-in.mfp-removing.mfp-bg
	opacity 0

/*==============================
	select2 customization
==============================*/
.select2
	width 100% !important
	height 50px
	margin-bottom 20px

.select2-search--dropdown
.select2-container--default .select2-selection--single .select2-selection__clear
	display none

.select2-container--default .select2-selection--single
	border none
	height 50px
	color $white
	padding 0 40px 0 20px
	letter-spacing .2px
	background-color $blue1
	width 100%
	font-family 'Open Sans', sans-serif
	font-size 15px
	border-radius(0)
	outline none !important
	.select2-selection__arrow
		height 50px
		top 0
		right 0
		width 40px
		b
			border-color $clr1 transparent transparent transparent

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b
	border-color transparent transparent $clr1 transparent

.select2-container--default .select2-selection--multiple
	border none
	height 50px
	color $white
	padding 0 40px 0 20px
	letter-spacing .2px
	background-color $blue1
	width 100%
	font-family 'Open Sans', sans-serif
	font-size 15px
	border-radius(0)

.select2-container--default.select2-container--focus .select2-selection--multiple
	border none
	
.select2-container--default .select2-selection--multiple .select2-selection__rendered
	padding 0

.select2-container .select2-search--inline .select2-search__field
	font-family 'Open Sans', sans-serif
	font-size 15px
	letter-spacing .2px
	height 50px
	margin 0
	color $white

.select2-container--default .select2-selection--multiple .select2-selection__choice
	background-color rgba($white, .05)
	border none
	border-radius(0)
	display flex
	flex-direction row
	justify-content flex-start
	align-items center
	height 30px
	margin-top 10px
	color $white
	padding 0 10px
	
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove
	color $clr1
	margin-right 5px
	transition(.4s ease)
	&:hover
		color $clr2

.select2-container .select2-selection--single .select2-selection__rendered
	padding 0
	color $white
	line-height 50px

.select2-dropdown
	border none
	border-radius(0)
	box-shadow(0 5px 25px 0 rgba($black, .3))
	background-color $blue1
	padding 15px 0
	&:before
		content ''
		position absolute
		top 0
		left 0
		right 0
		height 2px
		display block
		background-image -moz-linear-gradient( 90deg, rgb(255,85,165) 0%, rgb(255,88,96) 100%)
		background-image -webkit-linear-gradient( 90deg, rgb(255,85,165) 0%, rgb(255,88,96) 100%)
		background-image -ms-linear-gradient( 90deg, rgb(255,85,165) 0%, rgb(255,88,96) 100%)
		background-image linear-gradient( 90deg, rgb(255,85,165) 0%, rgb(255,88,96) 100%)
		box-shadow(0 0 20px 0 rgba(255, 88, 96, 0.5))

.select2-results__option
	padding 0 20px
	line-height 40px
	font-size 16px
	color rgba($white, .75)
	line-height 40px
	display block
	font-weight 300
	
.select2-container--default .select2-results__option--highlighted[aria-selected]
	background-color transparent
	color $clr1

.select2-container--default .select2-results__option[aria-selected="true"]
	background-color transparent
	color $clr1
	cursor default

/*==============================
	mCustomScrollbar customization
==============================*/
/* scroll bar 1 */
.mCS-custom-bar
	opacity 1
	&.mCSB_outside + .mCSB_scrollTools
		right 2px
		top 15px
		bottom 15px
	&.mCSB_scrollTools
		.mCSB_draggerRail
			background-color rgba($white, .05)
		.mCSB_dragger
			.mCSB_dragger_bar
				background-image -moz-linear-gradient( 180deg, rgb(255,85,165) 0%, rgb(255,88,96) 100%)
				background-image -webkit-linear-gradient( 180deg, rgb(255,85,165) 0%, rgb(255,88,96) 100%)
				background-image -ms-linear-gradient( 180deg, rgb(255,85,165) 0%, rgb(255,88,96) 100%)
				background-image linear-gradient( 180deg, rgb(255,85,165) 0%, rgb(255,88,96) 100%)
				width 2px
				border-radius(0)
			&:hover
				.mCSB_dragger_bar
					background-image -moz-linear-gradient( 180deg, rgb(255,85,165) 0%, rgb(255,88,96) 100%)
					background-image -webkit-linear-gradient( 180deg, rgb(255,85,165) 0%, rgb(255,88,96) 100%)
					background-image -ms-linear-gradient( 180deg, rgb(255,85,165) 0%, rgb(255,88,96) 100%)
					background-image linear-gradient( 180deg, rgb(255,85,165) 0%, rgb(255,88,96) 100%)
			&:active
			&.mCSB_dragger_onDrag
				.mCSB_dragger_bar
					background-image -moz-linear-gradient( 180deg, rgb(255,85,165) 0%, rgb(255,88,96) 100%)
					background-image -webkit-linear-gradient( 180deg, rgb(255,85,165) 0%, rgb(255,88,96) 100%)
					background-image -ms-linear-gradient( 180deg, rgb(255,85,165) 0%, rgb(255,88,96) 100%)
					background-image linear-gradient( 180deg, rgb(255,85,165) 0%, rgb(255,88,96) 100%)

/* scroll bar 2 */
.mCS-custom-bar2
	opacity 1
	&.mCSB_outside + .mCSB_scrollTools
		left 0
		right 0
		bottom 0
	&.mCSB_scrollTools_horizontal
		height 2px
		.mCSB_draggerRail
			height 2px
			background-color rgba($white, .05)
			border-radius(0)
			margin 0
		.mCSB_dragger
			.mCSB_dragger_bar
				background-image -moz-linear-gradient( 180deg, rgb(255,85,165) 0%, rgb(255,88,96) 100%)
				background-image -webkit-linear-gradient( 180deg, rgb(255,85,165) 0%, rgb(255,88,96) 100%)
				background-image -ms-linear-gradient( 180deg, rgb(255,85,165) 0%, rgb(255,88,96) 100%)
				background-image linear-gradient( 180deg, rgb(255,85,165) 0%, rgb(255,88,96) 100%)
				height 2px
				border-radius(0)
				margin 0
			&:hover
			&:active
			&.mCSB_dragger_onDrag
				.mCSB_dragger_bar
					height 2px
					background-image -moz-linear-gradient( 180deg, rgb(255,85,165) 0%, rgb(255,88,96) 100%)
					background-image -webkit-linear-gradient( 180deg, rgb(255,85,165) 0%, rgb(255,88,96) 100%)
					background-image -ms-linear-gradient( 180deg, rgb(255,85,165) 0%, rgb(255,88,96) 100%)
					background-image linear-gradient( 180deg, rgb(255,85,165) 0%, rgb(255,88,96) 100%)
					border-radius(0)
					margin 0

/* scroll bar 3 */
.mCS-custom-bar3
	opacity 1
	&.mCSB_outside + .mCSB_scrollTools
		right 20px
		left 20px
		bottom 0
	&.mCSB_scrollTools_horizontal
		height 2px
		.mCSB_draggerRail
			height 2px
			background-color rgba($white, .05)
			border-radius(0)
			margin 0
		.mCSB_dragger
			.mCSB_dragger_bar
				background-image -moz-linear-gradient( 180deg, rgb(255,85,165) 0%, rgb(255,88,96) 100%)
				background-image -webkit-linear-gradient( 180deg, rgb(255,85,165) 0%, rgb(255,88,96) 100%)
				background-image -ms-linear-gradient( 180deg, rgb(255,85,165) 0%, rgb(255,88,96) 100%)
				background-image linear-gradient( 180deg, rgb(255,85,165) 0%, rgb(255,88,96) 100%)
				height 2px
				border-radius(0)
				margin 0
			&:hover
			&:active
			&.mCSB_dragger_onDrag
				.mCSB_dragger_bar
					height 2px
					background-image -moz-linear-gradient( 180deg, rgb(255,85,165) 0%, rgb(255,88,96) 100%)
					background-image -webkit-linear-gradient( 180deg, rgb(255,85,165) 0%, rgb(255,88,96) 100%)
					background-image -ms-linear-gradient( 180deg, rgb(255,85,165) 0%, rgb(255,88,96) 100%)
					background-image linear-gradient( 180deg, rgb(255,85,165) 0%, rgb(255,88,96) 100%)
					border-radius(0)
					margin 0
	@media (min-width: 1500px)
		&.mCSB_outside + .mCSB_scrollTools
			display none !important