APP_NAME="Vod Streaming"
APP_ENV=local
APP_URL="http://127.0.0.1:8080"
APP_PORT=3005
APP_SECRET="must be hex to match with nginx_jwt"

DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=streamingapp
DB_USERNAME=root
DB_PASSWORD=root

ELASTICSEARCH_NODE=http://elasticsearch:9200

STRIPE_TOKEN=
STRIPE_SECRET=
SUCCESS_URL="http://192.168.50.11:8080/plans"
CANCEL_URL="http://192.168.50.11:8080/plans"


REDIS_HOST=redis
REDIS_PORT=6379