<!-- JS -->
<script src="/js/jquery-3.4.1.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/jquery.magnific-popup.min.js"></script>
<script src="/js/jquery.mousewheel.min.js"></script>
<script src="/js/jquery.mCustomScrollbar.min.js"></script>
<script src="/js/select2.min.js"></script>
<script src="/js/admin.js"></script>
<script src="/js/swal.js"></script>

<%- include('../flash.ejs') %>

</body>

</html>