<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600%7CUbuntu:300,400,500,700" rel="stylesheet">
	<!-- CSS -->
	<link rel="stylesheet" href="/css/bootstrap-reboot.min.css">
	<link rel="stylesheet" href="/css/bootstrap-grid.min.css">
	<link rel="stylesheet" href="/css/owl.carousel.min.css">
	<link rel="stylesheet" href="/css/jquery.mCustomScrollbar.min.css">
	<link rel="stylesheet" href="/css/nouislider.min.css">
	<link rel="stylesheet" href="/css/ionicons.min.css">
	<link rel="stylesheet" href="/css/photoswipe.css">
	<link rel="stylesheet" href="/css/default-skin.css">
	<link rel="stylesheet" href="/css/main.css">

	<!-- Favicons -->
	<link rel="icon" type="image/png" href="/icon/favicon-32x32.png" sizes="32x32">
	<link rel="apple-touch-icon" href="/icon/favicon-32x32.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/icon/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/icon/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/icon/apple-touch-icon-144x144.png">

	<meta name="description" content="">
	<meta name="keywords" content="">
	<title><%= title %></title>

</head>
<body class="body">
	
	<!-- header -->
	<header class="header">
		<div class="header__wrap">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="header__content">
							<!-- header logo -->
							<a href="/" class="header__logo">
								<img src="/img/logo.svg" alt="">
							</a>
							<!-- end header logo -->

							<!-- header nav -->
							<ul class="header__nav">
								<!-- dropdown -->
								<li class="header__nav-item">
									<a class="dropdown-toggle header__nav-link" href="/" role="button" aria-haspopup="true" aria-expanded="false">Home</a>
								</li>
								<!-- end dropdown -->

								<!-- dropdown -->
								<li class="header__nav-item">
									<a class="dropdown-toggle header__nav-link" href="/movies" role="button" aria-haspopup="true" aria-expanded="false">Browse Movies</a>
								</li>
								<!-- end dropdown -->
								
								<% if (req.isAuthenticated()) { %>
									<li class="header__nav-item">
										<a href="/profile" class="header__nav-link">My Profile</a>
									</li>
									<% if (req.user.isAdmin) { %>
										<li class="header__nav-item">
											<a href="/admin/movies" class="header__nav-link">Admin Panel</a>
										</li>
									<% }else{%>
										<li class="header__nav-item">
											<a href="/plans" class="header__nav-link">Pricing Plan</a>
										</li>
									<% }%>
								<% }%>		
							</ul>
							<!-- end header nav -->

							<!-- header auth -->
							<div class="header__auth">
								<button class="header__search-btn" type="button">
									<i class="icon ion-ios-search"></i>
								</button>

								<!-- dropdown -->
								<div class="dropdown header__lang">
									<a class="dropdown-toggle header__nav-link" href="#" role="button" id="dropdownMenuLang" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">EN</a>

									<ul class="dropdown-menu header__dropdown-menu" aria-labelledby="dropdownMenuLang">
										<li><a href="#">English</a></li>
										<li><a href="#">Spanish</a></li>
										<li><a href="#">Russian</a></li>
									</ul>
								</div>
								<!-- end dropdown -->
								<% if (req.isAuthenticated()) { %>
									<a href="/logout" class="header__sign-in">
										<i class="icon ion-ios-log-in"></i>
										<span>Logout</span>
									</a>
								  <% }else{ %>
									<a href="/signin" class="header__sign-in">
										<i class="icon ion-ios-log-in"></i>
										<span>sign in</span>
									</a>
									<% } %>

								


							</div>
							<!-- end header auth -->

							<!-- header menu btn -->
							<button class="header__btn" type="button">
								<span></span>
								<span></span>
								<span></span>
							</button>
							<!-- end header menu btn -->
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- header search -->
		<form action="/movies" class="header__search">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="header__search-content">
							<input type="text" name='q' value="<%= req.query.q || '' %>" placeholder="Search for a movie, that you are looking for">

							<button type="submit">search</button>
						</div>
					</div>
				</div>
			</div>
		</form>
		<!-- end header search -->
	</header>
	<!-- end header -->