<%- include('../layout/auth/header.ejs') %>
  <div class="sign section--bg" data-bg="img/section/section.jpg">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="sign__content">
            <!-- authorization form -->
            <form class="sign__form" method="POST">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
              <a href="/" class="sign__logo">
                <img src="img/logo.svg" alt="" />
              </a>

              <div class="sign__group">
                <input type="text" class="sign__input" placeholder="Email or Username" name="username" required />
              </div>

              <div class="sign__group">
                <input type="password" class="sign__input" placeholder="Password" name="password" required />
              </div>

              <div class="sign__group sign__group--checkbox">
                <input id="remember" name="remember" type="checkbox" checked="checked" />
                <label for="remember">Remember Me</label>
              </div>

              <button class="sign__btn" type="submit">Sign in</button>

              <span class="sign__text">Don't have an account? <a href="/signup">Sign up!</a></span>

              <span class="sign__text"><a href="/forgot">Forgot password?</a></span>
            </form>
            <!-- end authorization form -->
          </div>
        </div>
      </div>
    </div>
  </div>


  <%- include('../layout/auth/footer.ejs') %>